/* CSS Document */

.header {width:80%; margin-top:-7px; margin-right:auto; margin-left:auto; z-index:2; }
.header img {width:100%; }

.menu { width:80%; margin-top:-47px; margin-left:auto; margin-right:auto; background-color:rgba(0,0,0,0.7); z-index:3; position:relative; }
.menu ul{ list-style-type:none; margin:0px; padding:0px; overflow:hidden; color:#CCCCCC; }
.menu li{float:left;}
.menu li a{ display:block; color:inherit; ext-align: center; padding:10px 16px; text-decoration:none; }
.menu li a:hover{background-color:#66FF00; color:#FFFFFF; }
.menu li a:visited {text-decoration:none; }

.c31 .c32 .c33 {width:31%; float:left; background-color:#999999; height:300px; }
.c31 {margin-left:2%; }
.c33 {margin-right:2%; }

.limpar {clear:both; }

